NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_aecqzty
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_arabnsn
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=2o4h-UW4KRdMx98Dt
EMAILJS_SERVICE_ID=service_aecqzty
EMAILJS_TEMPLATE_ID=template_arabnsn
EMAILJS_PUBLIC_KEY=2o4h-UW4KRdMx98Dt
